<div class="app-title">
  <div>
    <h1><i class="fa fa-laptop"></i> รายละเอียดของงาน</h1>
    <p>ผู้โพส : Chonticha Uds</p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a routerLink="/index">หน้าแรก</a></li>
      <li class="breadcrumb-item"><a routerLink="/job-description/:id">รายละเอียดงาน</a></li>
    </ul>
</div>

<div class="tile">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/img/user4.png"
        alt="">
    </div>
    <div class="col-md-9">
      <h1>{{job.name}}</h1>
      <p><b>ผู้โพส: </b> {{job.userOwner}}</p>
      <p><b>ที่ทำงาน: </b> {{job.address}}</p>
      <p><b>ค่าแรง: </b> {{job.price}} {{job.jobType}}</p>
      <p><b>วันที่ทำงาน: </b>{{job.startDate | date:'dd/MM/yyyy'}} ถึง {{job.endDate | date:'dd/MM/yyyy'}}</p>
      <p><b>เพศ: </b> {{job.genderCondition}}</p>
      <p><b>อายุ: </b> {{job.beginAge}} ถึง {{job.endAge}} ปี</p>
      <p><b>สถานะ: </b> {{job.jobStatus}}</p>
      <p><b>จำนวนคนที่รับสมัครงาน: </b> {{job.workerAmount}}</p>
      <b>รายละเอียดงาน</b>
      <p>
        {{job.description}}
      </p>
    </div>
  </div>


  <div class="tile-footer">
    <!-- <a class="btn btn-primary" href="#">รับงาน</a>
    <a class="btn btn-warning" href="#">แก้ไข</a> -->
    <a class="btn btn-warning" href="#" *ngIf="job.id == 1">ส่งคำขอ</a>
    <a class="btn btn-danger" href="#" *ngIf="job.id == 1">ร้องเรียน</a>
    <a class="btn btn-warning" href="#" *ngIf="job.id == 2">ยุติงาน</a>
    <a class="btn btn-primary" routerLink="/manage-employee" *ngIf="job.id == 2">จัดการลูกจ้าง</a>
  </div>
</div>