<div class="app-title">
  <div>
    <h1><i class="fa fa-laptop"></i> รายละเอียดของงาน</h1>
    <p>ผู้โพส : Chonticha Uds</p>
  </div>
</div>

<div class="tile">
  <div class="row">
    <div class="col-md-3">
      <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
        alt="">
    </div>
    <div class="col-md-9">
      <h1>{{job.name}}</h1>
      <p><b>ผู้โพส: </b> {{job.userOwner}}</p>
      <p><b>ที่ทำงาน: </b> {{job.address}}</p>
      <p><b>ค่าแรง: </b> {{job.price}} {{job.jobType}}</p>
      <p><b>วันที่ทำงาน: </b>{{job.startDate | date:'dd/MM/yyyy'}} ถึง {{job.endDate | date:'dd/MM/yyyy'}}</p>
      <p><b>เพศ: </b> {{job.genderCondition}}</p>
      <p><b>อายุ: </b> {{job.beginAge}} ถึง {{job.endAge}} ปี</p>
      <p><b>สถานะ: </b> {{job.jobStatus}}</p>
      <p><b>จำนวนคนที่รับสมัครงาน: </b> {{job.workerAmount}}</p>
      <b>รายละเอียดงาน</b>
      <p>
        {{job.description}}
      </p>
    </div>
  </div>


  <div class="tile-footer">
    <a class="btn btn-primary" href="#">รับงาน</a>
    <a class="btn btn-warning" href="#">แก้ไข</a>
    <a class="btn btn-danger" href="#">ร้องเรียน</a>
    <a class="btn btn-primary" href="#">จัดการลูกจ้าง</a>
  </div>
</div>