<div class="app-title">
    <div>
      <h1><i class="fa fa-handshake-o" aria-hidden="true"></i> งานของฉัน </h1>
      <p> </p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"><a routerLink="/my-job">งานของฉัน</a></li>
    </ul>
  </div>



<div class="tile">
  <div class="tile-body">
    <table class="table table-hover table-bordered" id="sampleTable">
      <thead>
        <tr>
          <th>วัน เดือน ปี</th>
          <th>ชื่องาน</th>
          <th>บทบาท</th>
          <th>สถานะ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1 ตุลาคม 2561</td>
          <td>ตัดต้นไม้</td>
          <td>นายจ้าง</td>
          <td>สำเร็จ</td>
        </tr>
        <tr>
          <td>2 ตุลาคม 2561</td>
          <td>ซักผ้า</td>
          <td>ลูกจ้าง</td>
          <td>สำเร็จ</td>

        </tr>
        <tr>
          <td>3 ตุลาคม 2561</td>
          <td>ขนของ</td>
          <td>นายจ้าง</td>
          <td>สำเร็จ</td>

        </tr>
        <tr>
          <td>4 ตุลาคม 2561</td>
          <td>สอนพิเศษ</td>
          <td>นายจ้าง</td>
          <td>สำเร็จ</td>

        </tr>
        <tr>
          <td>5 ตุลาคม 2561</td>
          <td>ทำความสะอาด</td>
          <td>ลูกจ้าง</td>
          <td>สำเร็จ</td>

        </tr>
        <tr>
          <td>6 ตุลาคม 2561</td>
          <td>ปลุูกต้นไม้</td>
          <td>นายจ้าง</td>
          <td>สำเร็จ</td>

        </tr>
       
        
      </tbody>
    </table>
  </div>
</div>
