<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
  <div *ngIf="userLogin" class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="../../../assets/img/ken.jpg"
      alt="User Image">
    <div>
      <p class="app-sidebar__user-name">John Doe</p>
      <p class="app-sidebar__user-designation">Frontend Developer</p>
    </div>
  </div>

  <ul class="app-menu">
    <li><a class="app-menu__item active" routerLink="/index"><i class="app-menu__icon fa fa-bullhorn"></i><span class="app-menu__label">ประกาศรับสมัครงาน</span></a></li>
    <li><a class="app-menu__item" routerLink="/mail"><i class="app-menu__icon fa fa-envelope-o"></i><span class="app-menu__label">ข้อความเข้า</span></a></li>
    <li><a class="app-menu__item" routerLink="/my-job"><i class="app-menu__icon fa fa-history"></i><span class="app-menu__label">ประวัติการทำงานของฉัน</span></a></li>
    <li><a class="app-menu__item" routerLink="/my-working-job"><i class="app-menu__icon fa fa-list-alt"></i><span class="app-menu__label">งานจ้างของฉัน</span></a></li>
    <li><a class="app-menu__item" routerLink="/my-post-job"><i class="app-menu__icon fa fa-address-book"></i><span class="app-menu__label">โพสงานของฉัน</span></a></li>


  </ul>
</aside>