<div class="app-title">
  <div>
    <h1><i class="fa fa-laptop"></i>งานจ้างของฉัน</h1>
    <p></p>
  </div>

</div>

<div class="tile" *ngFor="let job of jobs; let i = index">
  <div class="row">
    <div class="col-md-2">
      <img class="img" src="assets/img/user{{i}}.png"
        alt="">
    </div>
    <div class="col-md-10">
      <h5>{{job.name}}</h5>
      <div class="row">
        <div class="col-md-6">
          <div>
            <b>ผู้โพส: </b>
            <span>{{job.userOwner}}</span>
          </div>
          <div>
            <b>ที่ทำงาน: </b>
            <span>{{job.address}}</span>
          </div>
          <div>
            <b>ค่าแรง: </b>
            <span>{{job.price}} {{job.jobType}}</span>
          </div>
          <div>
            <b>วันที่ทำงาน: </b>
            <span>{{job.startDate | date:'dd/MM/yyyy'}} ถึง {{job.endDate | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>

        <div class="col-md-6">
          <div>
            <b>เพศ: </b>
            <span>{{job.genderCondition}}</span>
          </div>
          <div>
            <b>อายุ: </b>
            <span>{{job.beginAge}} ถึง {{job.endAge}} ปี</span>
          </div>
          <div>
            <b>สถานะ: </b>
            <span>{{job.jobStatus}}</span>
          </div>
        </div>
      </div>
      <div class="tile-footer">
        <a class="btn btn-primary" routerLink="/job-description/{{job.id}}">ดูเพิ่มเติม</a>
      </div>
    </div>
  </div>
</div>