<div class="tile">
  <div class="row">
    <div class="col-md-3">
      <div class="col-row">
        <img class="app-sidebar__user-avatar" src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/10628239_815989888527424_3940726963087638751_n.jpg?_nc_cat=109&_nc_eui2=AeEbgRiYFz5IoNO8aaiqCaV1YcyfosxQGJ7k4kraI5ejgrMSy5tuPmtmLflss6y-2Uu0Flb0z8OG2w1Cf4qrnaQIC_7RLa0Pnw5HDwNb9BuZZg&_nc_ht=scontent.fbkk14-1.fna&oh=6cdf66bdc9c5435d1ec247c1ed4e71bb&oe=5C8136F9"
          alt="User Image" />
      </div>
      <div class="col-row">
        <h1>งานล่าสุด</h1>
        <ul>
          <li>ตัดไม้</li>
          <li>สอนพิเศษ</li>
          <li>ล้างจาน</li>
          <li>นวด</li>
          <li>ตัดหญ้า</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">


        <form class="form-horizontal" [formGroup]="createProfileForm">
          <div class="form-group row">
            <label class="control-label col-md-3">ชื่อ</label>
            <div class="col-md-8" >
              <input class="form-control" type="text" placeholder="กรุณาใส่ชื่อ-นามสกุล" formControlName="name"
                [attr.disabled]="disabled ? '' : null">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">อายุ</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="กรุณาใส่อายุ" formControlName="age"
                [attr.disabled]="disabled ? '' : null">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">เบอร์โทรศัพท์</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="กรุณาใส่เบอร์" formControlName="phone"
                [attr.disabled]="disabled ? '' : null">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">อีเมล์</label>
            <div class="col-md-8">
              <input class="form-control" type="text" placeholder="กรุณาใส่อีเมล์" formControlName="email"
                [attr.disabled]="disabled ? '' : null">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Address</label>
            <div class="col-md-8">
              <textarea class="form-control" rows="4" placeholder="กรุณาใส่ที่อยู่" formControlName="address" [attr.disabled]="disabled ? '' : null">
              </textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Gender</label>
            <div class="col-md-9">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="ชาย" [attr.disabled]="disabled ? '' : null">ชาย
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="gender"  formControlName="gender" value="หญิง" [attr.disabled]="disabled ? '' : null">หญิง
                </label>
              </div>
            </div>
          </div>

        </form>
        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-warning" type="button" (click)="unDisabled(true)">{{buttonEdit.text}}</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-danger" type="button">เปลี่ยนรหัสผ่าน</button>
          </div>


        </div>



      </div>
    </div>
  </div>




</div>
