<div class="tile">
  <div class="row">
    <div class="col-md-3">
      <div class="col-row">
        <img class="app-sidebar__user-avatar" src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/10628239_815989888527424_3940726963087638751_n.jpg?_nc_cat=109&_nc_eui2=AeEbgRiYFz5IoNO8aaiqCaV1YcyfosxQGJ7k4kraI5ejgrMSy5tuPmtmLflss6y-2Uu0Flb0z8OG2w1Cf4qrnaQIC_7RLa0Pnw5HDwNb9BuZZg&_nc_ht=scontent.fbkk14-1.fna&oh=6cdf66bdc9c5435d1ec247c1ed4e71bb&oe=5C8136F9"
          alt="User Image" />
      </div>
      <div class="col-row">
        <ul>
          <li>Hello</li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
        <div class="form-group" >
          <h1>รายละเอียด</h1>
         <p>
           นาย ธุรกิจ เฉยเล้ก 
          </p>
        </div>
    </div>
  </div>




</div>
