img{
    height: 100%;
    width: 100%;
}

label{
    font-size: 100%;
}

input:disabled {
    outline:none;
    border-color: white;
    background-color: white;
    align-content: center;
}

select:disabled{
    border-color: white;
    background-color: white;
    align-content: center;
}

textarea:disabled{
    border-color: white;
    background-color: white;
    align-content: center;
}