<div class="app-title">
  <div>
    <h1><i class="fa fa-laptop"></i> ค้นหางาน</h1>
    <p></p>
  </div>

  <div class="breadcrumb app-breadcrumb">
    <button class="btn btn-primary" (click)="openModalWithComponent()">สร้างงาน</button>
  </div>
</div>

<div class="row">

  <div class="tile">
    <img class="img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
    <h5>ชื่อโพสงาน</h5>
    <span>ผู้โพส: </span> <span>Chonticha</span>
    <div>
      <span>สถานะ: </span>
      <span>ยังเปิดรับคนอยู่</span>
    </div>
    <br>
    <div class="tile-footer">
      <a class="btn btn-primary" href="#">ดูเพิ่มเติม</a>
    </div>
  </div>
</div>