<div class="modal-content">
  <div class="modal-header">
    <h4 id="dialog-nested-name1" class="modal-title pull-left">สร้างงาน</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="createJobForm" (ngSubmit)="createJob()">
      <div class="form-group row">
        <label class="control-label col-md-2">ชื่องาน</label>
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="กรุณาระบุชื่องาน" formControlName="name">
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-md-2">ราคา</label>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" type="text" placeholder="กรุณาระบุราคาที่จะจ้างงาน" formControlName="price">
            </div>
            <div class="col-md-6">
              <select class="form-control" id="exampleSelect1" formControlName="jobType">
                <option value="บาท/ชั่วโมง">บาท/ชั่วโมง</option>
                <option value="บาท/งาน">บาท/งาน</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-2">อายุ</label>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5">
              <input class="form-control" type="text" placeholder="กรุณาระบุอายุที่จำกัด" formControlName="beginAge">
            </div>
            <div class="col-md-1">
              ถึง
            </div>
            <div class="col-md-6">
              <input class="form-control" type="text" placeholder="กรุณาระบุอายุที่จำกัด" formControlName="endAge">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-2">เพศ</label>
        <div class="col-md-10">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" formControlName="genderCondition" value="ชาย">ชาย
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" formControlName="genderCondition" value="หญิง">หญิง
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" formControlName="genderCondition" value="ไม่ระบุ">ไม่ระบุ
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-2">จำนวนที่รับ</label>
        <div class="col-md-10">
          <input class="form-control" type="text" placeholder="กรุณาระบุจำนวนที่รับคน" formControlName="workerAmount">
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-2">วันที่ทำงาน</label>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5">
              <input class="form-control" id="demoDate" type="date" placeholder="เดือน/วัน/ปี" formControlName="startDate">
            </div>
            <div class="col-md-1">
              ถึง
            </div>
            <div class="col-md-6">
              <input class="form-control" id="demoDate" type="date" placeholder="เดือน/วัน/ปี" formControlName="endDate">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="control-label col-md-2">รายละเอียดงาน</label>
        <div class="col-md-10">
          <textarea formControlName="description" placeholder="กรุณาระบุรายละเอียดของงาน"></textarea>
        </div>
      </div>
      <hr>
      <button type="submit" class="btn btn-primary">บันทึก</button>
    </form>
  </div>
</div>