<div class="app-title">
  <div>
    <h1><i class="fa fa-handshake-o" aria-hidden="true"></i> ข้อมูลลูกจ้าง </h1>
    <p> </p>
  </div>
  <ul class="app-breadcrumb breadcrumb">
    <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
    <li class="breadcrumb-item"><a routerLink="/index">หน้าแรก</a></li>
    <li class="breadcrumb-item"><a routerLink="/job-description/:id">รายละเอียดงาน</a></li>
    <li class="breadcrumb-item"><a routerLink="/manage-employee">จัดการผู้จ้าง</a></li>
  </ul>
</div>


<div class="tile">
    <div class="tile">
    <div class="row">
        <div class="col-md-3">
          <label>Worawut Sanganga</label>
        </div>
        <div class="col-md-4">
                <button class="btn btn-primary" type="button">ดูโปรไฟล์</button>
                <button class="btn btn-success" type="button">จัดการจ้าง</button>
                <button class="btn btn-danger" type="button">นำออก</button>
            
        </div>
      </div>
    </div>

  
</div>
